.movie-details{
    justify-content: center;
    display: flex;
    height: calc(100vh - 75px);
    align-items: center;
    .movie-meta-data-container{
        color: white;
        padding: 20px;
        height: 510px;
        width: 600px;
        background: rgba(0,0,0,.85);
        .title {
            font-size: 1.5rem;
            margin: 10px 0;
            font-weight: 800;
        }
        .tagline {
            font-size: 1.2rem;
            margin: 10px 0;
            font-weight: 600;
        }
        .details {
            font-size: 1rem;
            margin: 10px 0;
            font-weight: 400;
        }

        .tags {
            font-size: 1.2rem;
            margin: 10px 0;
            font-weight: 600;
        }
    }
}