.header {
    background: black;
    display: flex;
    height: 40px;
    justify-content: space-between;
.header-title{
    color: white;
    margin: 5px 10px;
    font-size: 1.5rem;
    font-weight: 800;
    display: inline-block;
    cursor: pointer;
}
.my-ratings{
    color: white;
    margin: 10px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}
}