.home-container{
    margin-bottom: 50px;
    .tabs-container{
        display: flex;
        justify-content: center;
        .tab{
            margin: 10px 0;
            border: 1px solid;
            padding: 5px;
            text-align: center;
            width: 200px;
            cursor: pointer;
        }
        .movie-tab-title{
            border-right: 0;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
        .tv-tab-title{
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            }
        .selected-tab {
            background: lightblue;
        }
    }
    .search-results-container{
        .section-header{
            margin: 20px;
            font-size: 1.5rem;
            font-weight: 800;
            .results-count {
                font-size: 1rem;
            }
        }
        .section-content{
            display: flex;
            overflow-y: auto;
            margin: 0 20px;
            flex-wrap: wrap;
            height: calc(100vh - 300px);
            justify-content: space-between;
            .item-container {
                width: 200px;
                margin: 10px;
                .poster{
                    cursor: pointer;
                }
                .item-title{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        .section-content-no-data{
            margin: 0 20px;
            text-align: center;
        }
    }
    
}
