<app-search-bar (search)="onSearch($event)"></app-search-bar>

<div class="search-results-container" *ngIf="movieSearchResults.length !==0">
    <div class="section-header">
        Movies
    </div>
    <div class="section-content"
     infiniteScroll
    [infiniteScrollDistance]="0"
    [infiniteScrollThrottle]="300"
    (scrolled)="moviesScrolled()"
    [scrollWindow]="false"
    [horizontal]= "true">
        <div *ngFor="let dataItem of movieSearchResults">
            <div class="item-container">
                <div class="item-title">
                    {{dataItem.title}}
                </div>
                <div>
                    <img [src]="imageBaseUrl + dataItem.poster_path" [alt]="dataItem.title">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="search-results-container" *ngIf="tvSearchResults.length !==0">
    <div class="section-header">
        TV Shows
    </div>
    <div class="section-content" infiniteScroll
    [infiniteScrollDistance]="0"
    [infiniteScrollThrottle]="300"
    (scrolled)="tvShowsScrolled()"
    [scrollWindow]="false"
    [horizontal]= "true">
        <div *ngFor="let dataItem of tvSearchResults">
            <div class="item-container">
                <div class="item-title">
                    {{dataItem.name}}
                </div>
                <div >
                    <img [src]="imageBaseUrl + dataItem.poster_path" [alt]="dataItem.name">
                </div>
            </div>
        </div>
    </div>
</div>