.search-results-container{
    .section-header{
        margin: 20px;
        font-size: 1.5rem;
        font-weight: 800;
        .results-count {
            font-size: 1rem;
        }
    }
    .section-content{
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        margin: 0 20px;
        .item-container {
            width: 200px;
            margin: 10px;
            .poster{
                cursor: pointer;
            }
            .item-title{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .section-content-no-data{
        margin: 0 20px;
        text-align: center;
    }
}

