<div class="home-container">
    <app-search-bar (search)="onSearch($event)" [searchInput]="searchText"></app-search-bar>
    <div class="tabs-container"  *ngIf="searched">
        <div class="tab movie-tab-title" [ngClass]="{'selected-tab': selectedTab === 'movie' ? true  : false}"
            (click)="selectTab('movie')">
            Movie 
        </div>
        <div class="tab tv-tab-title" [ngClass]="{'selected-tab': selectedTab === 'tv' ? true  : false}"
            (click)="selectTab('tv')">
            TV 
        </div>
    </div>
    <div class="search-results-container"  [hidden]="!searched || selectedTab !== 'movie'">
        <div class="section-header">
            Movies
            <span class="results-count" *ngIf="loadedMovieData">
                ({{totalMovieResults}})
            </span>
        </div>
        <div class="section-content" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="150"
            (scrolled)="moviesScrolled()" [scrollWindow]="false" 
            *ngIf="movieSearchResults.length !==0 && loadedMovieData">
            <div class="data-item-container" *ngFor="let dataItem of movieSearchResults">
                <div class="item-name link-pointer" (click)="goToMovieDetails(dataItem)">{{dataItem.title}}</div>
                <div class="item-container">
                    <a (click)="goToMovieDetails(dataItem)">
                        <img [src]="imageBaseUrl + dataItem.poster_path" [alt]="dataItem.title" width="200" height="250"
                            class="link-pointer" onerror="this.onerror=null;this.src='assets/images/no-image.jpg';" >
                    </a>
                </div>
            </div>
        </div>
        <div class="section-content-no-data" *ngIf="movieSearchResults.length ===0 && loadedMovieData">
            No movies found.
        </div>
        <div class="loader" *ngIf="!loadedMovieData">
            <app-spinner></app-spinner>
        </div>
    </div>

    <div class="search-results-container" [hidden]="!searched || selectedTab !== 'tv'">
        <div class="section-header">
            TV Shows
            <span class="results-count" *ngIf="loadedTvShowData">
                ({{totalTvShowResults}})
            </span>
        </div>
        <div class="section-content" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="150"
            (scrolled)="tvShowsScrolled()" [scrollWindow]="false" 
            *ngIf="tvSearchResults.length !==0 && loadedTvShowData">
            <div class="data-item-container" *ngFor="let dataItem of tvSearchResults">
                <div class="item-name link-pointer" (click)="goToTvShowDetails(dataItem)">{{dataItem.name}}</div>
                <div class="item-container">
                    <a (click)="goToTvShowDetails(dataItem)">
                        <img [src]="imageBaseUrl + dataItem.poster_path" [alt]="dataItem.name" width="200" height="250"
                            class="link-pointer" onerror="this.onerror=null;this.src='assets/images/no-image.jpg';">
                    </a>
                </div>
            </div>
        </div>
        <div class="section-content-no-data" *ngIf="tvSearchResults.length ===0 && loadedTvShowData">
            No tv shows found.
        </div>
        <div class="loader" *ngIf="!loadedTvShowData">
            <app-spinner></app-spinner>
        </div>
    </div>
</div>