.tvShow-details{
    justify-content: center;
    display: flex;
    height: calc(100vh - 40px);
    align-items: center;
    .tvShow-meta-data-container{
        background: black;
        color: white;
        padding: 20px;
        height: 560px;
        width: 500px;
        .title {
            font-size: 1.5rem;
            margin: 10px 0;
            font-weight: 800;
        }
        .tagline {
            font-size: 1.2rem;
            margin: 10px 0;
            font-weight: 600;
        }
        .details {
            font-size: 1rem;
            margin: 10px 0;
            font-weight: 400;
        }

        .tags {
            font-size: 1.2rem;
            margin: 10px 0;
            font-weight: 600;
        }
    }
}