footer{
    padding: 10px 0;
    float: left;
    font-size: .9em;
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 1px #000;
    background: black;
    color: #ffffff;
    top: calc(100vh - 38px);
    position: fixed;
}