/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-accent .mat-slider-track-fill, .mat-accent .mat-slider-thumb, .mat-accent .mat-slider-thumb-label {
    background-color: yellowgreen
}

.mat-slider-horizontal {
    height: 48px;
    min-width: 250px !important;
}
.mat-slider-horizontal .mat-slider-ticks {
    background-image: repeating-linear-gradient(to right, rgba(128, 128, 128, 0.7), rgba(128, 128, 128, 0.7) 2px, transparent 0, transparent);
}
.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb, .mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label {
    background-color: rgba(128,128,128,.87);
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
}
